#feedback form{
    margin: 0px 10vw;
}

#feedback fieldset{
    display: flex;
    flex-direction: column;
}

#feedback input{
    appearance: none;
    border: 1px solid black;
    margin: 20px 0px;
    border-radius: 30px;
    text-indent: 15px;
}

#feedback #feedbackSendButton{
    padding: 3px;
    font-size: 20px;
    width: 120px;
    text-indent: 0;
    background-color: #bac8b3;
    border: none;
    color: white;

}

#bottomSide{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#checkboxSide{
    display: flex;
    align-items: center;
}
#checkboxSide #checkbox{
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.247);
}
#checkboxSide #checkbox:checked{
    background-color: #a8a7ff;
    box-shadow: 0px 0px 3px 2px #a8a7ff;
    border: none;
}

