footer{
    margin-top: 100px;
    width: 100vw;
    background-color: #bac8b3;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer #footerTop{
    border-bottom: 1px solid white;
}

footer #footerMain{
    margin-top: 10px;
    padding: 20px;
}

footer #footerMain #footerItemCenter{
    width: 100%;
    display: flex;
    justify-content: center;
    border-left: 1px solid white; 
    border-right: 1px solid white;
    margin: 0px 20px;
    height: 100px;
}

footer ul{
    list-style: none;
}

footer img{
    border-radius: 15px;
}